.mainCard {
    width: 50vw;
    display: flex;
}

.infoArea {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.actionArea {
    display: flex;
    flex-direction: column;
    width: 20vw;
}