.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Sidebar {
  height: 100vh;
  max-width: 35vw;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid black;
  background-color: lightgray;
}

.Results {
  max-width: 65vw;
  height: auto;
  display: flex;
  flex-grow: 2;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  overflow-y: scroll;
}

.getButton {
  height: 10em;
  width: 10em;
}

.addButton {
  height: 10em;
  width: 10em;
}

.sortUpButton {
  height: 10em;
  width: 10em;
}

.sortDownButton {
  height: 10em;
  width: 10em;
}